<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../css/reset.css" />
    <link rel="stylesheet" href="./../css/normalize.css" />
    <link rel="stylesheet" href="./../css/main.css" />
    <link
      rel="stylesheet"
      as="style"
      crossorigin
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css"
    />

    <link rel="icon" href="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" type="image/xml+svg" />

    <script src="./../js/login.js" type="module"></script>
    <title>Enter Euid - Login</title>
  </head>

  <body class="m-auto">
    <div class="max-w-3xl w-80 h-screen border-solid border-black border-y border-x">
      <div class="w-auto h-9 px-6 pt-2 pb-1 timeLine"></div>
      <div class="w-auto h-9 backLine"></div>
      <div class="w-auto h-64 pb-3 px-2.5 certificateLine">
        <form>
          <input
            type="tel"
            id="phone"
            name="phone"
            placeholder="휴대폰 번호(-없이 숫자만 입력)"
            class="w-mySize300 h-9 rounded-md border-black border-solid border-x border-y mb-3 mt-2 placeholder:text-sm placeholder:pl-4"
          />
          <!-- placeholer글자에 이전에 입력했던 전화번호 들어오도록 -->
          <!-- 비활성화도 해놓으면 좋을듯? -->
          <button
            id="loginNumAgain"
            type="submit"
            class="w-mySize300 text-sm border-black border-solid border-x border-y rounded-md h-9 mb-3 font-semibold"
          >
            인증문자 다시 받기(05분 00초)
          </button>
          <!-- 타이머 설정해서 시간 바뀌도록 -->
          <!-- timeset하면 되려나... -->
          <!-- timeset1000 해서 00이면 앞에꺼 바꾸고 뭐 그런식? -->
          <input
            type="tel"
            id="phone"
            name="phone"
            pattern="[0-9](6)"
            required
            placeholder="인증번호 입력"
            class="w-mySize300 h-9 rounded-md border-black border-solid border-x border-y placeholder:text-sm placeholder:pl-4"
          />
          <p class="text-mySize10 inline-block text-gray-400">어떤 경우에도 타인에게 공유하지마세요!</p>
          <button
            id="login-agreeAndStart"
            type="submit"
            class="w-mySize300 text-sm border-black border-solid border-x border-y rounded-md h-9 mt-3 mb-3 bg-greybox text-white font-bold"
          >
            동의하고 시작하기
          </button>
        </form>
        <p class="text-mySize10 mx-auto w-24 text-greybox underline">인증번호가 오지 않아요!</p>
      </div>
    </div>
  </body>
</html>
