<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/tailwind.css" />
    <link
      rel="stylesheet"
      as="style"
      crossorigin
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css"
    />
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <title>Enter Euid - Search</title>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  </head>
  <body>
    <div class="flex flex-col max-w-3xl h-screen items-center pt-[2.3125rem]">
      <header class="flex justify-center items-center pt-1 pl-0 pb-2 pr-0 self-stretch gap-4">
        <div>
          <img alt="뒤로가기" src="../assets/icons/Icon/backBtn.svg" />
        </div>
        <div>
          <input
            class="flex items-center pt-1 pr-[7.625rem] pb-1 pl-2.5 text-base rounded-lg bg-gray-300"
            placeholder="창천동 근처에서 검색"
          />
        </div>
      </header>
      <main>
        <div class="flex flex-col justify-center w-[20rem] pt-2 pr-0 pb-[16.5rem] pl-3 gap-3">
          <p class="text-3 font-semibold leading-150">친구들이 많이 찾고 있어요!</p>
          <div class="flex gap-1 w-[20rem] whitespace-no-wrap overflow-auto">
            <div
              class=" flex justify-center items-center py-3 px-1.5 w-[3.25rem] h-[1.8125rem] rounded-[1.25rem] bg-white border border-solid border-var-contents-content-tertiary"
            >
              <a href="#">
                <span class="text-[0.6564375rem] leading-[160%]">노트북</span>
              </a>
            </div>
            <div
              class="flex justify-center items-center py-1.5 px-4 w-[3.625rem] h-[1.0625rem] rounded-[1.25rem] bg-white border border-solid border-var-contents-content-tertiary"
            >
              <a href="#">
                <span class="text-[0.6564375rem] leading-[160%]">노트북 거치대 </span>
              </a>
            </div>
            <div class="flex justify-center items-center py-3 px-1.5 w-[3.25rem] h-[1.8125rem] rounded-[1.25rem] bg-white border border-solid border-var-contents-content-tertiar">
              <a href="#">
                <span class="text-[0.6564375rem] leading-[160%">키보드</span>
              </a>
            </div>
            <div class="flex justify-center items-center py-3 px-1.5 w-[3.25rem] h-[1.8125rem] rounded-[1.25rem] bg-white border border-solid border-var-contents-content-tertiar">
              <a href="#">
                <span class="text-[0.6564375rem] leading-[160%">마우스</span>
              </a>
            </div>
            <div class="flex justify-center items-center py-3 px-1.5 w-[3.25rem] h-[1.8125rem] rounded-[1.25rem] bg-white border border-solid border-var-contents-content-tertiar">
              <a href="#">
                <span class="text-[0.6564375rem] leading-[160%">헤드셋</span>
              </a>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
