<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/story.css" />
    <link rel="stylesheet" href="../css/tailwind.css" />
    <link
      rel="stylesheet"
      as="style"
      crossorigin
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css"
    />
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <title>Enter Euid - story</title>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script defer src="../js/swiperSlide.js"></script>
    <script defer src="../js/storyData.js"></script>
    <script defer src="../js/storyCategoryActive.js"></script>
  </head>
  <body>
    <div class="flex flex-col max-w-3xl h-screen items-center pt-[2.3125rem]">
      <header class="flex justify-center flex-wrap max-w-[20rem] max-h-[18.375rem] bg-contents">
        <div
          class="flex justify-center w-[20rem] h-[2.5rem] px-[1.25rem] py-[0.375rem] bg-[#FFF] border-b-[#D3D3D3] gap-[4.875rem]"
        >
          <div class="flex justify-center items-center gap-1.5">
            <span aria-label="위치" class="min-w-[7.25rem] main-h-[1.5625rem] text-lg text-center font-semibold"
              >남가좌제2동</span
            >
            <img alt="하단 펼치기" src="../assets/icons/Icon/underBtn.svg" />
          </div>
          <div class="flex justify-center items-center flex-shrink-0 w-[5.375rem] h-[1.625rem] gap-[0.4375rem]">
            <a href="#">
              <img alt="검색" src="../assets/icons/Icon/search.svg" />
            </a>
            <img class="w-[1.625rem] h-[1.625rem]" alt="메뉴" src="../assets/icons/Icon/hamburger.svg" />
            <img class="w-[1.25rem] h-[1.25rem]" alt="알림" src="../assets/icons/Icon/alramBell.svg" />
          </div>
        </div>

        <div
          class="swiper swiper-container relative flex items-center flex-wrap pt-[1.875rem] pl-[1.25rem] pb-[2.8125rem] pr-[9.5625rem] gap-[3.625rem]"
        >
          <div class="swiper-wrapper">
            <div class="relative swiper-slide flex justify-center items-center">
              <div
                class="absolute pt-[3.75rem] pr-[9.5625rem] pb-[2.8125rem] pl-[2.5rem] flex flex-col items-start gap-[2.375rem]"
              >
                <div>
                  <p class="text-lg text-white font-semibold line-height-150 w-[15.5rem] h-[3.5rem]">
                    동료들과 함께 성장할 수 있다는 값진 경험
                  </p>
                  <a class="text-[0.625rem] text-white line-height-160" href="#">자세히 보기</a>
                </div>
                <div class="flex items-center w-[4.8125rem] h-[1rem] gap-[0.3125rem]">
                  <span class="text-[0.625rem] text-white font-semibold line-height-150">01</span>
                  <img class="w-[2.5625rem]" aria-hidden="true" alt="바" src="../assets/icons/Icon/bar.svg" />
                  <span class="text-[0.625rem] text-white font-semibold line-height-150">03</span>
                </div>
              </div>
              <img class="w-full h-full object-cover object-center" alt="동료" src="../assets/images/colleague.jpg" />
            </div>
            <div class="relative swiper-slide flex justify-center items-center">
              <div
                class="absolute pt-[3.75rem] pr-[9.5625rem] pb-[2.8125rem] pl-[2.5rem] flex flex-col items-start gap-[2.375rem]"
              >
                <div>
                  <p class="text-lg text-white font-semibold line-height-150 w-[15.5rem] h-[3.5rem]">
                    늘 대기하고있는 멋쟁이사자처럼 운영진과 함께한 성장
                  </p>
                  <a class="text-[0.625rem] text-white line-height-160" href="#">자세히 보기</a>
                </div>
                <div class="flex items-center w-[4.8125rem] h-[1rem] gap-[0.3125rem]">
                  <span class="text-[0.625rem] text-white font-semibold line-height-150">01</span>
                  <img class="w-[2.5625rem]" aria-hidden="true" alt="바" src="../assets/icons/Icon/bar.svg" />
                  <span class="text-[0.625rem] text-white font-semibold line-height-150">03</span>
                </div>
              </div>
              <img
                class="w-full h-full object-cover object-center"
                alt="운영진과 함께 성장"
                src="../assets/images/growth.jpg"
              />
            </div>
            <div class="relative swiper-slide flex justify-center items-center">
              <div
                class="absolute pt-[3.75rem] pr-[9.5625rem] pb-[2.8125rem] pl-[2.5rem] flex flex-col items-start gap-[2.375rem]"
              >
                <div>
                  <p class="text-lg text-white font-semibold line-height-150 w-[15.5rem] h-[3.5rem]">
                    정기회고 타임을 통한 교육 완주를 하다.
                  </p>
                  <a class="text-[0.625rem] text-white line-height-160" href="#">자세히 보기</a>
                </div>
                <div class="flex items-center w-[4.8125rem] h-[1rem] gap-[0.3125rem]">
                  <span class="text-[0.625rem] text-white font-semibold line-height-150">01</span>
                  <img class="w-[2.5625rem]" aria-hidden="true" alt="바" src="../assets/icons/Icon/bar.svg" />
                  <span class="text-[0.625rem] text-white font-semibold line-height-150">03</span>
                </div>
              </div>
              <img class="w-full h-full object-cover object-center" alt="완주" src="../assets//images/retrospect.jpg" />
            </div>
          </div>
          <div class="swiper-button-next" style="color: white" aria-label="슬라이드 다음으로 넘기기"></div>
          <div class="swiper-button-prev" style="color: white" aria-label="슬라이드 이전으로 넘기기"></div>

          <button class="absolute top-[10rem] left-[9.5rem] z-50">
            <img class="play hidden" alt="슬라이드 시작" src="../assets/icons/Icon/playBtn.svg" />
          </button>
          <button class="absolute top-[10rem] left-[9.5rem] z-50">
            <img class="stop" alt="슬라이드 멈춤" src="../assets/icons/Icon/pauseBtn.svg" />
          </button>
        </div>
        <nav class="nav bg-primary">
          <ul class="w-[20rem] h-[2.3125rem] flex justify-center items-center gap-[0.5rem]">
            <li
              class="is-active w-[4.75rem] flex justify-center items-center h-full gap-1 p-2 text-[0.625rem] font-semibold line-height-150 text-contents"
            >
              <a href="./story.html">선배님 스토리</a>
            </li>
            <li class="w-[4.75rem] flex justify-center items-center h-full gap-1 p-2 text-[0.625rem] text-contents">
              <a href="./device.html">기기 거래</a>
            </li>
            <li class="w-[4.75rem] flex justify-center items-center h-full gap-1 p-2 text-[0.625rem] text-contents">
              <a href="#">질의 응답</a>
            </li>
            <li class="w-[4.75rem] flex justify-center items-center h-full gap-1 p-2 text-[0.625rem] text-contents">
              <a href="#">같이 해요</a>
            </li>
          </ul>
        </nav>
      </header>

      <main class="story-list flex py-3 px-4 flex-col justify-center items-center gap-7">
        <h2 class="absolute w-1 h-1 p-0 m-n1 overflow-hidden clip-rect-0 whitespace-nowrap border-0">
          선배님 스토리 목록
        </h2>
        <ul class="flex flex-col gap-7">
          <li>
            <div class="flex items-start gap-3">
              <a href="#">
                <div class="post flex flex-col items-center w-[8.625rem] h-[10.6875rem] gap-3" data-index="1">
                  <img class="postImage w-[8.625rem] h-[6.5rem] rounded-md" alt="사진" src="#" />
                  <p
                    class="postTitle flex-item self-stretch text-[0.6564375rem] font-normal line-height-160 max-w-[8.625rem]"
                  ></p>
                  <div class="w-[8.625rem] gap-[0.3125rem]">
                    <span class="postSchool text-gray-500 text-[0.6564375rem] font-normal line-height-160"></span>
                    <span class="text-gray-500 text-[0.6564375rem] font-normal line-height-160" aria-hidden="true"
                      >|</span
                    >
                    <span class="postWriter text-gray-500 text-[0.6564375rem] font-normal line-height-160"></span>
                  </div>
                </div>
              </a>
              <a href="#">
                <div class="post flex flex-col items-center w-[8.625rem] h-[10.6875rem] gap-3" data-index="2">
                  <img class="postImage w-[8.625rem] h-[6.5rem] rounded-md" alt="사진" src="#" />
                  <p
                    class="postTitle flex-item self-stretch text-[0.6564375rem] font-normal line-height-160 max-w-[8.625rem]"
                  ></p>
                  <div class="w-[8.625rem] gap-[0.3125rem]">
                    <span class="postSchool text-gray-500 text-[0.6564375rem] font-normal line-height-160"></span>
                    <span class="text-gray-500 text-[0.6564375rem] font-normal line-height-160" aria-hidden="true"
                      >|</span
                    >
                    <span class="postWriter text-gray-500 text-[0.6564375rem] font-normal line-height-160"></span>
                  </div>
                </div>
              </a>
            </div>
          </li>
          <li>
            <div class="flex items-start w-[8.625rem] h-[10.6875rem] gap-3">
              <a href="#">
                <div class="post flex flex-col items-center gap-3" data-index="3">
                  <img class="postImage w-[8.625rem] h-[6.5rem] rounded-md" alt="사진" src="#" />
                  <p
                    class="postTitle flex-item self-stretch text-[0.6564375rem] font-normal line-height-160 max-w-[8.625rem]"
                  ></p>
                  <div class="w-[8.625rem] gap-[0.3125rem]">
                    <span class="postSchool text-gray-500 text-[0.6564375rem] font-normal line-height-160"></span>
                    <span class="text-gray-500 text-[0.6564375rem] font-normal line-height-160" aria-hidden="true"
                      >|</span
                    >
                    <span class="postWriter text-gray-500 text-[0.6564375rem] font-normal line-height-160"></span>
                  </div>
                </div>
              </a>
              <a href="#">
                <div class="flex flex-col items-center w-[8.625rem] h-[10.6875rem] gap-3">
                  <div class="post flex flex-col items-center gap-3" data-index="4">
                    <img class="postImage w-[8.625rem] h-[6.5rem] rounded-md" alt="사진" src="#" />
                    <p
                      class="postTitle flex-item self-stretch text-[0.6564375rem] font-normal line-height-160 max-w-[8.625rem]"
                    ></p>
                    <div class="w-[8.625rem] gap-[0.3125rem]">
                      <span class="postSchool text-gray-500 text-[0.6564375rem] font-normal line-height-160"></span>
                      <span class="text-gray-500 text-[0.6564375rem] font-normal line-height-160" aria-hidden="true"
                        >|</span
                      >
                      <span class="postWriter text-gray-500 text-[0.6564375rem] font-normal line-height-160"></span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </li>
          <li>
            <div class="flex items-start gap-3">
              <div class="flex w-[8.625rem] h-[10.6875rem] gap-3">
                <a href="#">
                  <div class="post flex flex-col items-center w-[8.625rem] h-[10.6875rem] gap-3" data-index="5">
                    <div class="flex flex-col items-center gap-3">
                      <img class="postImage w-[8.625rem] h-[6.5rem] rounded-md" alt="사진" src="#" />
                      <p
                        class="postTitle flex-item self-stretch text-[0.6564375rem] font-normal line-height-160 max-w-[8.625rem]"
                      ></p>
                      <div class="w-[8.625rem] gap-[0.3125rem]">
                        <span class="postSchool text-gray-500 text-[0.6564375rem] font-normal line-height-160"></span>
                        <span class="text-gray-500 text-[0.6564375rem] font-normal line-height-160" aria-hidden="true"
                          >|</span
                        >
                        <span class="postWriter text-gray-500 text-[0.6564375rem] font-normal line-height-160"></span>
                      </div>
                    </div>
                  </div>
                </a>
                <a href="#">
                  <div class="post flex flex-col items-center w-[8.625rem] h-[10.6875rem] gap-3" data-index="6">
                    <div class="flex flex-col items-center gap-3">
                      <img class="postImage flex justify-start w-[8.625rem] h-[6.5rem] rounded-md" alt="사진" src="#" />
                      <p
                        class="postTitle flex-item self-stretch text-[0.6564375rem] font-normal line-height-160 max-w-[8.625rem]"
                      ></p>
                      <div class="w-[8.625rem] gap-[0.3125rem]">
                        <span class="postSchool text-gray-500 text-[0.6564375rem] font-normal line-height-160"></span>
                        <span class="text-gray-500 text-[0.6564375rem] font-normal line-height-160" aria-hidden="true"
                          >|</span
                        >
                        <span class="postWriter text-gray-500 text-[0.6564375rem] font-normal line-height-160"></span>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </li>
        </ul>
      </main>
    </div>
  </body>
</html>
